.brand {
  font-weight: 700;
}

.category_list {
  border-bottom: 1px solid #ccc;
  .parent_list {
    font-weight: 500;
    font-size: 12px !important;
  }
}

//custom acordion
.acordion {
  padding: 0 !important;
}
.acor_custom_header {
  .accordion-button {
    padding: 6px 0 !important;
    font-size: 12px !important;
  }
}
.acor_custom_item {
  border: none !important;
}
.acor_custom_body {
  padding: 0 0 0 5px !important;
}

.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.list_custom {
  .list_custom_item {
    padding: 6px 0 !important;
    border-radius: 0 !important;
    font-size: 12px !important;
    border: none !important;
    cursor: pointer;
  }
}

.parent {
  border-bottom: 0.5px solid #dfdfdf;
  padding: 8px 0;
}

.part-content {
  padding: 10px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.card-custom {
  border-radius: 15px;
  transition: 0.3s ease-in-out;

  .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .body {
    .head {
      font-size: 14px;
      font-weight: 500;
    }
    .desc {
      font-size: 13px;
      font-weight: 400;
    }
  }

  &:hover {
    scale: 0.99;
  }
}

.toggleMenu {
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #2296d9;
  }
}

.bg-custom {
  background-color: #fff !important;
}

//ripped loader
.wrapper {
  margin: 0 auto;
}
.card-loader {
  background-color: #fff;
  // box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08),
  //   0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 8px 0;
  position: relative;
  border-radius: 2px;
  margin-bottom: 0;
  height: 300px;
  overflow: hidden;

  &:only-child {
    margin-top: 0;
  }

  &:before {
    content: "";
    height: 110px;
    display: block;
    background-color: #ededed;
    box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
  }

  &:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

.list-loader {
  background-color: #fff;
  padding: 8px 0;
  position: relative;
  border-radius: 2px;
  margin-bottom: 0;
  height: 36px;
  overflow: hidden;

  &:only-child {
    margin-top: 0;
  }

  &:before {
    content: "";
    height: 110px;
    display: block;
    background-color: #ededed;
    box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
  }

  &:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

// Loader animation
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
